---
import { MENTORS } from "@/data/mentors";
import { Image } from "astro:assets";
import { Button } from "@/components/ui/button";
import { ENABLE_SESSIONS } from "@/utils/config";
---

<section class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex flex-col mt-8" id="Mentors">
  <h2 class="text-3xl font-extrabold tracking-tight sm:text-4xl text-white text-center">
    Mentores
  </h2>
  <div class="mt-10 grid grid-cols-1 lg:grid-cols-2 gap-8">
    {
      MENTORS.map((mentor) => (
        <div class="liquid-glass relative">
          <div class="glass flex flex-row pl-4 py-4 pr-6 gap-4 items-start h-full">
            <Image
              src={`/LogisticsHackathon/mentors/${mentor.profilePath}`}
              alt={`${mentor.name}' profile card`}
              width={48}
              height={48}
              class="size-24 rounded-full self-start object-cover"
            />
            <div class="flex-1 flex flex-col">
              <span class="font-semibold text-xl">
                {mentor.name}
              </span>
              <span class="font-thin">
                {mentor.role}
              </span>

              <div class="flex flex-row gap-2 mt-4 flex-wrap">
                {
                  mentor.skills.map((skill) => (
                    <span class="text-sm rounded-full bg-secondary/70 px-2 break-all">{skill}</span>
                  ))
                }
              </div>
            </div>
          </div>
          <div class="mix-blend-overlay glass-border" />
          <div class="mix-blend-screen opacity-25 glass-border" />
        </div>
      ))
    }
  </div>

  <Button variant="primary" className="self-center mt-6 px-8 min-w-max" disabled={!ENABLE_SESSIONS}>
    <a href="https://untalbry.notion.site/2997125838b9806db368e413a5dd4593?pvs=105" target="_blank">
      ¡Solicitar sesión con un mentor!
    </a>
  </Button>
</section>
