---
import { Image } from "astro:assets";
import { type Resource } from "@/data/resources";

interface Props {
  resource: Resource;
}

const { resource } = Astro.props;
---

<article class="liquid-glass relative max-w-4xl w-full h-min">
  <div class="glass">
    <div class="bg-gray-500/20 flex flex-col px-4 pb-4 gap-2">
      <Image
        src={`/LogisticsHackathon/sponsors/${resource.company.logoPath}`}
        alt={resource.company.name}
        width={96}
        height={96}
        class="h-24 object-contain"
      />
      <h2 class="text-2xl font-semibold">{resource.title}</h2>
    </div>
    <div class="flex flex-col p-4 space-y-3">
      {
        resource.links.map((link) => (
          <a href={encodeURI(link.href)} class="flex gap-2" target="_blank">
            <span class="flex-1">
              {link.label}
            </span>

            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="size-6 icon icon-tabler icons-tabler-outline icon-tabler-share-3"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path
                d="M13 4v4c-6.575 1.028 -9.02 6.788 -10 12c-.037 .206 5.384 -5.962 10 -6v4l8 -7l-8 -7z"
              />
            </svg>
          </a>
        ))
      }
    </div>
  </div>
  <div class="mix-blend-overlay glass-border h-min" />
  <div class="mix-blend-screen opacity-25 glass-border h-min" />
</article>
