---
<<<<<<< HEAD
import backgroundVideo from "../assets/pool-dark.mp4";
import "../styles/global.css";

const DEFAULT_KEYWORDS = [
  "Logistics Hackathon",
=======
import "@/styles/global.css";
import Navbar from "@/components/astro/Navbar.astro";
import WaterBackground from "@/components/astro/WaterBackground.astro";
const DEFAULT_KEYWORDS = [
  "Logistics Hackathon",
  "Binary Brains",
  "ASCM",
  "UPIICSA",
>>>>>>> 55b1eef65796495db7ce8f3735567234e56a8bd7
];

const ogImage = {
  path: `/LogisticsHackathon/favicon.jpg`,
  alt: "A logo of the hackathon event, Logistics hackathon",
};

interface Props {
  title: string;
  description?: string;
  keywords?: string[];
  canonical?: URL;
}

const {
  title,
  description,
  keywords = DEFAULT_KEYWORDS,
  canonical,
} = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/jepg" href="/LogisticsHackathon/favicon.jpg" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta property="og:title" content={title} />

    {canonical && <link rel="canonical" href={canonical.toString()} />}

    {
      description && (
        <>
          <meta name="og:description" content={description} />
          <meta name="twitter:description" content={description} />
          <meta name="description" content={description} />
        </>
      )
    }

    <meta name="twitter:image" content={ogImage.path} />
    <meta name="twitter:image:alt" content={ogImage.alt} />
    <meta property="og:image" content={ogImage.path} />
    <meta property="og:image:alt" content={ogImage.alt} />

    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="hacktion" />
    <meta property="og:locale" content="es_MX" />

    <meta name="keywords" content={keywords.join(", ")} />
    <meta name="theme-color" content="#172615">
  </head>
  <body class="overflow-y-auto bg-[#172615]">
    <WaterBackground />

    <div class="relative z-10 text-white min-h-screen">
      <Navbar />
      <slot />
    </div>
  </body>
</html>
